
<ion-content [fullscreen]="true">
  
  @defer (when !isLoading) {
    <ion-list lines="none">

      <ion-list-header>
        <ion-label>
          Trending Movies
        </ion-label>
      </ion-list-header>
    <div>
      <swiper-container
          [modules] = "swiperModules"
          [slidesPerView] = "1.4"
          [keyboard] = "true"
          [centrerSlides] = "true">
        @for (item of movies; track item.id){
          <!--<ion-item button [routerLink]="['/details', item.id]">-->
            <swiper-slide>
              <app-movie-card [item]="item" [routerLink]="['/details', item.id]"></app-movie-card>
            </swiper-slide>
            
          <!--</ion-item>-->
        <!--} @empty {
          @if (!isLoading){
            <ion-item lines="none">
              <ion-label class="ion-text-center">No movies found</ion-label>
            </ion-item> 
          }
        }-->}
      </swiper-container>
    </div>
      
    </ion-list>

  } <!--@placeholder {
    <ion-list class="ion-padding-top">
      @for (i of dummyArray; track i){
        <ion-item lines="none" class="ion-padding-bottom">
          <ion-avatar slot="start">
            <ion-skeleton-text></ion-skeleton-text>
          </ion-avatar>
          <ion-skeleton-text animated style="height: 40px;"></ion-skeleton-text>
        </ion-item>
      }
    </ion-list>
  } @error {
    <ion-alert header="Error" [message]="error" isOpen="true" [buttons]="['Ok']"/>
  }-->
  

</ion-content>